body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-container {
    padding: 20px;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
}

#game-output {
    margin-top: 20px;
    font-size: 1.5em;
}
